@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    font-family: 'Poppins';
    background-color: #424255;
    color: rgb(179, 179, 179);
}
.welcome {
    text-align: center;
    margin: 20 auto;
}